node_modules
src/.vs/
node_modules/
obj/
bin/
logs/
*.suo
/.vs/slnx.sqlite
.vs/
/.vs/slnx.sqlite-journal

*_BACKUP_*.*
*_BASE_*.*
*_LOCAL_*.*
*_REMOTE_*.*
*.orig
UI/dist/
*log*.txt
*.user
/Services/.sonarqube
/WebUI/.scannerwork
